.footer {
  position: relative;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Ubuntu";
  color: rgb(63, 63, 63);
}

.credits-link {
  text-decoration: none;
  color: rgb(175, 57, 91);
}
