* {
  padding: 0;
  margin: 0;
}

.city-container {
  position: relative;
  width: 40rem;
  box-sizing: content-box;
  background: #0081d6;
  color: white;
  border-radius: 0.3rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.current-weather-info {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 23rem;
}

.current-weather-info__place {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  gap: 0.25rem;
  border-bottom: 1px solid white;
}

.current-weather-info__place h1 {
  font-size: 2.3rem;
}

.current-weather-info__place p {
  font-size: 1.5rem;
}

.current-weather-info__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid white;
}

.current-weather-image {
  display: flex;
  width: 15rem;
  justify-content: center;
}

.current-weather-image img {
  width: 180px;
}

.current-weather-info__additional {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.3rem;
  gap: 4rem;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid white;
}

.current-weather-info__additional p {
  margin: 0.3rem 0;
}

.current-weather-info__day {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.3rem;
  padding-top: 1rem;
}

.query {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: white;
}

.query h1 {
  font-size: 2.2rem;
  margin: 1rem 0 0 0.5rem;
}

.query p {
  margin: 0;
  font-size: 1.8rem;
}

.current-temperature {
  font-size: 5rem;
}

.current-weather-description {
  font-size: 2.3rem;
}

.current-date {
  font-size: 1.5rem;
}

@media only screen and (max-width: 700px) {
  .city-container {
    flex-direction: column;
    width: 86vw;
  }

  .current-weather-info {
    margin-top: 2rem;
    width: 80%;
  }

  .current-weather-image {
    margin-top: 2rem;
    width: 20%;
  }

  .current-weather-info__place h1 {
    font-size: 1.7rem;
  }

  .current-weather-info__additional {
    font-size: 1rem;
    gap: 0;
  }

  .additional_1 {
    width: 50%;
  }

  .additional_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
  }

  .current-temperature {
    font-size: 4.5rem;
  }

  .current-weather-info__place p {
    font-size: 1.3rem;
  }

  .current-weather-info__day p {
    font-size: 1rem;
  }
}
