.search-bar {
  width: 42rem;
}

.location-button {
  width: 4rem;
}

.search-button {
  width: 12rem;
}

@media only screen and (max-width: 700px) {
  .search-container {
    width: 95vw;
    top: 0;
    margin-top: 1rem;
  }

  .search-bar {
    width: 100%;
  }
}
