@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body,
html {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(214, 241, 255);
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.main-title {
  margin-top: 5rem;
  color: #003a60;
  font-size: 2.3rem;
}

.input-error {
  font-size: 1.25rem;
  color: rgb(182, 0, 0);
}

@media only screen and (max-width: 700px) {
  .main-title {
    margin-top: 2rem;
  }
}
